:root {
  --primary-color: #171E45;
  --secondary-color: #E85E04;
  --tertiary-color: #91CDE2;
  --accent-color: #F6C35D;
}


/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Custom Scrollbar */
::selection {
  background-color: var(--primary-color);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f9f1ec;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* Reusable CSS */
.section {
  padding: 7rem 2rem;
}

.container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

.flex {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.section-subtitle,
.content-subtitle {
  color: var(--primary-color);
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
}

.section-title,
.content-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.section-description,
.content-description {
  text-align: center;
  margin-bottom: 2rem;
}

.section-description {
  padding: 0 16rem;
}

/* Landing page */
.home {
  height: 100vh;
  width: 100%;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  background: #f6f6f6;
}

/* Nav styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav-links a {
  color: var(--primary-color);
}

.navbar-logo {
  display: block;
  width: 75px;
  height: 60px;
  background: url('./images/icon.png') no-repeat center center;
  background-size: cover;
}

/* Navbar menu-items */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  color: var(--secondary-color);
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}

.menu li {
  padding: 5px 14px;
}

/* Responsive nav bar styling */
input[type=checkbox] {
  display: none;
}

/* Menu icon */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* Home details */
.home-details {
  position: absolute;
  top: 40%;
  left: 10%;
  justify-items: center;
  display: grid;
  row-gap: 4rem;
  text-align: center;
}

.homeSubtitle {
  font-weight: bold;
  font-size: 3em;
  color: var(--primary-color);
}

.homeTitle {
  font-weight: lighter;
  font-size: 2.5em;
  color: var(--primary-color);
}

.home_button {
  border: none;
  outline: none;
  padding: 1.4rem 4rem;
  border-radius: 1.5rem;
  background-color: var(--secondary-color);
  transition: 0.3s;
  cursor: pointer;
  color: var(--primary-color);
}

.home_button:hover {
  color: #91CDE2;
  cursor: pointer;
}

/* About section */
.about-section {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-image {
    flex: 0 0 auto;
    position: relative;
    margin-right: 20px;
    max-width: 400px;
    height: 450px;
    overflow: hidden;
}

.about-description {
  flex: 1 1 300px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-description h2 {
  margin-top: 20px;
  font-size: 24px;
  color: var(--primary-color);
  text-transform: capitalize;
}

.about-description p {
  font-size: 18px;
  color: #667;
  line-height: 1.6;
}

.about-description p::first-letter {
  font-size: 32px;
  float: left;
  margin-right: 10px;
  font-weight: bold;
}

.about-image img {
  max-width: 400px;
  height: 450px;
  display: block;
  transition: transform 0.3s ease;
  margin: 10px;
}

.about-image::before, 
.skills-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.about-image:hover::before, 
.skills-image:hover::before {
  opacity: 1;
}

.about-image:hover img, 
.skills-image:hover img {
  transform: scale(1.1);
}

/* Styling skills section */
.skills {
  background-color: #f6f6f6;
  padding: 80px 0;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.skills-box {
  flex: 0 0 60%;
  text-align: left;
}
.skills-title {
  color: var(--primary-color);
}
.skills-image {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-image img {
  max-width: 100%;
  height: auto;
}

.skills-subtitle {
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.skills-name {
  display: inline-block;
  font-size: small;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: .25rem .5rem;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: .25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.skills-name:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  cursor: pointer;
}

/* Portfolio section */
.portfolio {
  /* Add necessary styling for the portfolio section */
  margin-top: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  flex: 0 0 30%;
  position: relative;
  overflow: hidden;
}

.project img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
  border: 1px solid rgba(23,30,69,0.1);
}

.project:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.project-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  opacity: 1;
  transition: opacity 0.3s;
}

.project-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.project-info p {
  font-size: 14px;
}
/* Contact section */
.contact {
  /* Add necessary styling for the contact section */
  margin-top: 20px;
  background-color: #f6f6f6;
  padding-bottom: 20px;
}

.contact h2 {
  text-align: center;
}

.contact form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.contact label {
  display: block;
  margin-bottom: 5px;
}

.contact input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.contact button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.contact button:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/* Footer */
footer {
  color: black;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.footer-container {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-title a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.footer-content {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}
.footer-links {
  margin-right: 60px;
}
.social-icons {
  margin-left: 75px;
}

.footer-links ul,
.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer-links li,
.social-icons li {
  margin-right: 10px;
}

.footer-links li,
.social-icons li {
  color: var(--tertiary-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links li:hover,
.social-icons li:hover,
.footer-title a:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.footer-icon img {
  width: 20px;
  height: 20px;
  transition: opacity 0.3s;
}

.footer-icon:hover img {
  opacity: 0.8;
  cursor: pointer;
}

.copywrite {
  text-align: center;
  color: var(--tertiary-color);
}

/* Responsive Design starts here */

@media (min-width: 769px) {
  .project-info {
    opacity: 0;
  }

  .project:hover .project-info {
    opacity: 1;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    color: var(--secondary-color);
    transition: 0.3s ease;
    cursor: pointer;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
  .gallery {
    flex-direction: column;
  }

  .project {
    flex: 0 0 auto;
    margin-bottom: 20px;
    position: relative;
    overflow: visible;
  }

  .project:hover .project-info {
    opacity: 1;
    cursor: pointer;
  }

  .project-info {
    position: static;
    opacity: 1;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    transition: none;
  }
}